<div class="tabs is-boxed">
  <ul>
    <li class="tab">
      {{#link-to "geekbench"}}
      Geekbench
      {{/link-to}}
    </li>
    <li class="tab">
      {{#link-to "games"}}
      Games
      {{/link-to}}
    </li>
  </ul>
</div>
{{!-- outlet basically displays whatever template file the ember router thinks we need --}}
{{outlet}}